

/**** [metro_ver] ****/



.lemon_c_1448508500 {
    color:yellow;
    position:relative;
    width:100%;
    background:none;
    test_control
}



.orange_c_1448508524 {
        color:orange;
        test_control
    }

/**** END[metro_ver] ****/

.lemon_c_1448509779 {
    color:yellow;
    position:relative;
    width:100%;
    background:none;
    test_control
}

.lemon_c_1448509900 {
    color:yellow;
    position:relative;
    width:100%;
    background:none;
    test_control
}

hr_c_1448509917 {
    color:blue;
}

hr_c_1448510033 {
    color:blue;
}

hr_c_1448510088 {
    color:blue;
}

hr_c_1448510114 {
    color:green;
}

hr_c_1448510146 {
    color:pink;
}

.lemon_c_1448510327 {
    color:yellow;
    position:relative;
    width:100%;
    background:none;
    test_control
}

.lemon_c_1448510350 {
    color:yellow;
    position:relative;
    width:100%;
    background:none;
    test_control
}

hr_c_1448510508 {
    color:green;
}

hr_c_1448510542 {
    color:green;
}

hr_c_1448510542 

hr_c_1448510554 {
    color:green;
}

hr_c_1448510554 

hr_c_1448510567 

hr_c_1448510632 {
    color:green;
}

hr_c_1448510632 

hr_c_1448510647 {
    color:green;
}

hr_c_1448510647 

hr_c_1448510663 {
    color:green;
}

hr_c_1448510663 

hr_c_1448510692 {
    color:green;
}

hr_c_1448510692 

hr_c_1448510709 {
    color:green;
}

.lemon_c_1448510715 {
    color:yellow;
    position:relative;
    width:100%;
    background:none;
    test_control
}