

.grape_c_1448512491 {
    color:blue
}



.grape_c_1448512506 {
    color:blue
}

.orange_c_1448512521 {
    color:aliceblue;
}

.orange_c_1448512550 {
    color:aliceblue;
}

[--tag]hr_c_1448512558 {
    color:aquamarine;
}

/**** [new_version] ****/



.orange_c_1448512575 {
    color:aliceblue;
}



[--tag]hr_c_1448512586 {
    color:aquamarine;
}




.grape_c_1448512624 {
    color:blue
}

/**** END[new_version] ****/