
.grape .tangerine {
    color: orange;
}

.lemon{
    color:yellow;
    position:relative;
    width:100%;
    background:none;
    test_control
}


hr{
    color:pink;
}

.grape .tangerine {
    color:black;
}

.tangerine .grape {
    color:black;
}


@media screen and (max-width:500px){
    .orange {
        color:orange;
        test_control
    }
}
